#yellow-strip {
  background-color: $eScienceYellow;
  width: 10vw;
  height: 70vh;
  border-radius: 10vw 10vw 0 0;
  z-index: 2;
  position: absolute;
  left: -10vw;
  bottom: 0;
  transition: left 1s;
}
#yellow-strip.visible { left: 0; }
